:root {
    --color-primary: #D80032;
    --color-primary-hover: #EF233C;
    --color-border: #2B2D42;
    --color-callout: #1e90ff;
    --color-text: #232333;
    --color-text-muted: #737373;
    --color-text-meta: #999999;
    --color-background: hsl(334, 60%, 94%);
    --color-background-code: #f1f1f1;
    --color-background-pre: #ececec;
    --color-background-toc: #ececec;
    --color-background-draft: #f9f2f4;
}

.list-item h1 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.list-item {
    margin-top: 1.5rem;
    padding: 1rem;
    border: 0.15rem dotted var(--color-border, #663399);
}

.list-item span {
    display: flex;
    justify-content: space-between;
}

.list-item .draft-label {
    display: none;
}

.dxfl-tag {
    text-decoration: none;
    border-bottom: none;
    border-block-end: none;
}

.dxfl-tag:hover {
    outline: none;
    background-color: transparent;
}
